---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import PostsList from "../../components/PostsList.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .topline {
        display: flex;
        justify-content: right;
        padding: 1em 1em 0;
      }
    </style>
  </head>
  <body>
    <Header />
    <nav class="topline">
      <a href="/tags">browse by tag</a>
    </nav>
    <PostsList posts={posts} />
    <Footer />
  </body>
</html>
