---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];
  
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title=`tags: ${tag}` description="list of tags" />
    <style>
    .tag-list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
    }
    </style>
  </head>
  <body>
    <Header />
    <h1>Posts tagged with {tag}</h1>
    <ul class="tag-list">
      <li>
        {posts.map((post) => {
        console.log(post)
        return <a href=`/blog/${post.slug}`>{post.data.title}</a>
        })}
      </li>
    </ul>
    <Footer />
  </body>
</html>
